/*Grundindstillinger for placering på  scenen*/

html {
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

#game_background {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/taeppe.svg);
}


.mad {
    position: absolute;
    /*    background: blue;*/

}

#settings {
    position: absolute;

    left: 3vw;
    top: 49vw;

    width: 5vw;
    height: 5vw;
    background-image: url(grafik/setting.svg);
    background-size: 100%;
}

#settings_screen {
    /*    margin: 0 auto;*/
    position: absolute;
    width: 60vw;
    height: 45vw;
    background-color: rgba(0, 0, 0, 0.82);

    top: 5vw;
    left: 20vw;
    border-radius: 2vw;
    color: white;
}


#mad1,
#mad2,
#mad3,
#mad4 {
    width: 6vw;
    height: 5vw;
    top: 15vw;

}

#mad5,
#mad6 {
    width: 7vw;
    height: 6vw;
    top: 24vw;
}


#mad7,
#mad8,
#mad9,
#mad10 {
    width: 8vw;
    height: 7vw;
    top: 36vw;

}

#mad1 {
    left: 28vw;
}

#mad2 {
    left: 41vw;
}

#mad3 {
    left: 53vw;
}

#mad4 {
    left: 67vw;
}

#mad5 {
    left: 22vw;
}

#mad6 {
    left: 70vw;
}

#mad7 {
    left: 21vw;
}

#mad8 {
    left: 37vw;
}

#mad9 {
    left: 53vw;
}

#mad10 {
    left: 69vw;
}



#score {
    position: absolute;
    left: 5vw;
    top: 2vw;
    font-size: 1rem;
    color: white;
}

#point {
    position: absolute;
    left: 50vw;
    top: 25vw;
    font-size: 1rem;
    color: white;
}

.growAndDisapear {
    animation-name: growAndDisapear_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}


#start {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(grafik/start.svg);
    background-size: contain;
}



#gameover {
    position: absolute;
    width: 100%;
    height: 56.25vw;
    ;
    /*    background-color: rgba(114, 114, 114, 0.7);*/

}



#gameover_screen {
    margin: 0 auto;
    position: relative;
    width: 60vw;
    height: 45vw;
    background-color: rgba(0, 0, 0, 0.82);

    top: 5vw;
    border-radius: 2vw;
    color: white;

    background-image: url(grafik/replay.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10vw 10vw;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#gameover h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
}

p {
    text-align: center;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25;
}

#game {
    background-color: rgba(0, 0, 0, 0.53);
}

/*Grundindstillinger for placering på  scenen SLUT*/

/*ENERGI*/
#energy {
    position: absolute;
    right: 12vw;
    top: 9vw;

}

#thermometer_udslag {
    position: absolute;
    bottom: -35vw;
    left: 1.3vw;
    width: 5vw;
    height: 32vw;
    background: hsla(136, 49%, 56%);
    transform-origin: bottom left;
}

#thermometer_white {
    position: absolute;
    width: 4vw;
    top: 3.5vw;
    left: 2vw;
    height: 33vw;
    background-color: white;
}


#thermometer {
    position: absolute;
    width: 10vw;
    height: 38VW;
    background-image: url(grafik/termometer.svg);
}

/*ENERGI SLUT*/

/*MAD*/

.groentsag {
    background-image: url(grafik/brockoli.svg);
    background-repeat: no-repeat;
}

.koed {
    background-image: url(grafik/boef.svg);
    background-repeat: no-repeat;
}



/*MAD SLUT*/




/*KO*/


#ko {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(grafik/ko.svg);
    width: 15vw;
    height: 15vw;


}

#ko_container {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 15vw;
    left: 0vw;

}


#hale {
    position: absolute;
    top: 3vw;
    left: 9.1vw;

    width: 10vw;
    height: 8.8vw;
    background-size: 400% 100%;
    background-image: url(grafik/hale.svg);
    transform-origin: top left;

}

.hale_swing {
    animation-name: hale_kf;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#prut {
    position: absolute;
    top: -1vw;
    left: 9vw;
    width: 10vw;
    height: 8.8vw;
    background-size: 500% 100%;
    background-image: url(grafik/prut.svg);
}


/*KO SLUT*/



.blur {
    filter: blur(5px);
}

.hide {
    display: none;
    /*    visibility: hidden;*/
}



.prut_action {
    animation-name: prut_kf;
    animation-timing-function: steps(5);
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Animationer */

@keyframes hale_kf {
    0% {
        transform: rotate(10deg);
        display: block;
    }

    100% {
        transform: rotate(-15deg);
    }
}

@keyframes prut_kf {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -500% 0;
    }
}

@keyframes growAndDisapear_kf {
    0% {
        transform: scale(1);
        opacity: 1;

    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}
